<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}{% trans 'Получение самых выгодных сделок Альбиона' %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content={% trans 'Получение самых выгодных сделок между городами и Чёрным рынком Албиона.' %}>
    {% block linkcss %}
    <link rel = 'stylesheet' href="{% static 'items/css/bootstrap.css' %}">
    <link rel = 'stylesheet' href="{% static 'items/css/styles.css' %}">
    {% endblock linkcss%}
    {% block scripts %}
    <script src="{% static "items/js/jquery.min.js" %}"></script>
    <script src="{% static "items/js/script.js" %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    {% endblock scripts %}
</head>
<body>
    <div class="wrapper">
        {% block info-btn %}
            <div class="info">
                <button type="button" class="btn-infosite" id="infosite"><a href="{% url 'info_page' %}">{% trans 'Инфо' %}</a></button>
                <button type="button" class="btn-api" id="api"><a href="{% url 'api_info' %}">{% trans 'Для разработчиков' %}</a></button>
                <button type="button" class="btn-main" id="main"><a href="{% url 'item_view' %}">{% trans 'На главную'%}</a></button>
                <button type="button" class="btn-changelog" id="changelog"><a href="{% url 'changelog_page' %}">{% trans 'Изменения'%}</a></button>
                <a id="donate-link" href="https://ko-fi.com/albionprofits"><img src="{% static 'items/img/donate.png' %}" alt=""></a>
                <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}">
                    <select name="language" class="language_select">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                {{ language.name_local }} ({{ language.code }})
                            </option>
                        {% endfor %}
                    </select>
                    <input type="submit" class="btn-info change_lang" value="Go">
                </form>
            </div>
        {% endblock info-btn%}

        {% block content %}
        {% endblock content %}

    </div>
</body>
</html>