body {
	overflow: hidden;
	background: #202020;
}
.search {
	padding: 15px;
    background: black;
	float: left;
	position: fixed;
	height: 100%;
}
.search .form-control:hover {
	cursor: pointer;
}
.search .form-control:disabled {
	background: white;
	color: #340a0b;
}
.search .form-control {
	color: black;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
	max-width: 207px;
}
.search .tier, .search .chart {
	width: 130px;
    height: 175px;
}
#results {
	background: rgba(255, 255, 255, 0.06);
	width: 980px;
    height: 88%;
    float: left;
    padding-left: 500px;
    overflow-y: scroll;
	max-width: 800px;
}

.wrapper {
	background: black fixed;
	background-size: cover;
	min-height: 100%;
    margin: 0;
	width: 1200px;
}
#results .item {
	width: 50%;
	color: white;
}
.table_city {
	width: 100px;
}
.item .name {
	text-align: left;
	border: none;
	padding: 0 5px 0 5px;
	width: 300px;
}
.item .quality, .item .white_price_order, .item .black_price_order, .item .black_price_buyout, .item .profit_sell_buyout {
    text-align: left;
	border: none;
	padding: 0 5px 0 5px;
	width: 100px;
}
.item .profit_sell {
	text-align: center;
	border: none;
	padding: 0 5px 0 5px;
	width: 100px;
	color: white;
}
.header .name {
	text-align: left;
	border: none;
	padding: 0 5px 0 5px;
	width: 300px;
}
.header .quality, .header .white_price_order, .header .black_price_order, .header .black_price_buyout, .header .profit_sell_buyout {
    text-align: left;
	border: none;
	padding: 0 5px 0 5px;
	width: 100px;
}
.header .profit_sell {
	text-align: center;
	border: none;
	padding: 0 5px 0 5px;
	width: 100px;
}
.profit_sell.plus{
	background: #6aad6f;
}
.search select {
	width: 140px;
    height: 30px;
    margin-top: 3px;
    top: 1px;
    position: relative;
}

.item:hover {
	cursor: pointer;
}
.item.checked {
	background-color: #717171;
}
#tier {
	height: 160px;
    top: 6px;
    width: 40px;
    overflow: hidden;
	text-align: center;
}
#tier option{
	margin-top: 10px;
}

#chart {
	height: 160px;
    top: 6px;
    width:40px;
    overflow: hidden;
	text-align: center;
}
#chart option{
	margin-top: 10px;
}

.header {
	margin-bottom: 20px;
	background-color: #a08db5;
}
.wrapper, .search{
	background: #202020;
	padding-top: 0;
}
.header {
    background-color: #531405;
    color: #fff;
    height: 35px;
}
.search .form-control {
    color: #ffffff;
    background-color: #202020;
	max-width: 195px;
	border: 1px solid #7d7d7d;
	padding-left: 10px;
    outline: none;
	border-radius: 0;
}
.search .form-control:focus{
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}
.tier .form-control{
	border-bottom: 5px solid #fff;
}
.search-butt{
	width:48%;
	display: inline-flex;
}
.search-butt .form-control{
	background: #fff;
    color: #202020;
    border-radius: 0;
    padding-left: 10px;
	transition: all .5s;
	border: 1px solid #fff;
}
.search-butt .form-control:hover{
	background: #202020;
    color: #fff;
	border:1px solid #fff;
}
#tier, #chart{
	border:0;
}
.search .tier, .search .chart{
	width:100%;
}

.search{
	padding-top:15px;
	border: 1px solid #454545;
    border-top: 0;
    height: 88%;
}
.search .form-control{
	border: 0;
	border-radius: 1px;
    border-bottom: 1px solid #929292;
	padding: 0 0 10px;
}
.btn-one{
	margin-right:0;
	outline: none;
	padding: 5px 10px;
	border: 1px solid #929292;
	background: none;
    color: #fff;
	width: 95px;
	cursor:pointer;
	border-radius:0;
	margin-top: 10px;
}
.btn-one:hover{
	background:#fff;
	color:#202020;
	border: 1px solid #fff;
}
.results{
		background: rgba(255, 255, 255, 0);
		width: 81%;
	height: 600px;
	float:left;
	border-right: 1px solid #454545;
    border-bottom: 1px solid #454545;
	margin-left: 220px;
    overflow: scroll;
}
.results::-webkit-scrollbar{
	width: 20px;
	height: 20px;
}
.results::-webkit-scrollbar-thumb:vertical {
height: 50px;
background-color: #ccc;
border: 1px solid #474747;
-webkit-border-radius: 6px;
}
.results::-webkit-scrollbar-thumb:horizontal{
width: 0;
}
#tier, #chart {
    padding: 0 5px;
}
.header {
    background-color: rgba(69, 69, 69, 0.3);
    color: #fff;
    height: 56px;
    border-bottom: 1px solid #454545;
	border-top: 1px solid #454545;
}
.profit_sell.plus {
	background: rgba(244, 67, 54, 0.8)
}
tr .item:focus{
    background-color: rgba(41, 103, 182, 0.89);
    color: #FFF;
}
.table_city {
    padding-left: 10px;
}
.item .quality, .item .white_price_order, .item .black_price_order, .item .black_price_buyout, .item .profit_sell_buyout{
	text-align:center;
	color: white;

}
#results .item{
	border-bottom: 1px solid #454545;
}
.item .name{
	padding: 5px 3px;
	color: white;
}
.black_date_order{
	padding-left: 5px;
    padding-right: 5px;
	color: white;
}
.header .quality, .header .white_price_order, .header .black_price_order, .header .black_price_buyout, .header .profit_sell_buyout, .header .name{
	border-right: 1px solid #454545;
	border-left: 1px solid #454545;
	color: white;
}
option {
	padding:3px;
}
.header td{
	font-size:14px;
	position:relative;
	cursor:pointer;
}
.header td:after{
	content:'?';
	font-size:10px;
	border: 1px solid #fff;
    border-radius: 50px;
    padding: 0 5px;
    margin-left: 5px;
}
.header td:before{
	content:'';
	width:202px;
	height:auto;
	min-height:55px;
	padding:10px;
	position:absolute;
	top: 55px;

    left: 0;
	border:1px solid #454545;
	display:none;
	background: #2b2b2b;
    z-index: 2;
	transition: all .5s;
	text-align: left;
	word-wrap: break-word;
}
.header .table_city:hover:before{
	content:'Это город';
	display:block;
}
.header .name:hover:before{
	content:'Это название вещи';
	display:block;
}
.header .quality:hover:before{
	content:'Это качество вещи';
	display:block;
}
.header .name:hover:before{
	content:'Это название вещи';
	display:block;
}
.header .white_price_order:hover:before{
	content:'Цена закупки предмета';
	display:block;
}
.header .black_price_order:hover:before{
	content:'Цена продажи предмета на черном рынке';
	display:block;
}
.header .black_price_buyout:hover:before{
	content:'Текущая ставка черного рынка на предмет';
	display:block;
}
.header .profit_sell:hover:before{
	content:'Разница закупочной цены в городе и цены продажи на черном рынке';
	display:block;
}
.header .profit_sell_buyout:hover:before{
	content:'Разница закупочной цены в городе и текущий ставки на черном рынке';
	display:block;
}
.header .black_date_order:hover:before{
	content:'Актуальность цен и информации';
	display:block;
	left: -85px;
}