@charset "utf-8";
html, body {
	background: #202020;
	margin: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.search {
	padding-top: 15px;
    border: 1px solid #454545;
    border-top: 0px;
    height: 88%;
	float: left;
	padding: 15px;
	position: absolute;	
}
.search .form-control:hover {
	cursor: pointer;
}
.search .form-control:disabled {
	background: white;
	color: #340a0b;
}
.search .form-control {
	color: black;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
	max-width: 207px;
}
.search .tier, .search .chart {
	width: 100%;
    height: 175px;
}
#results {
	background: rgba(255, 255, 255, 0);
    border-right: 1px solid #454545;
    border-bottom: 1px solid #454545;
    margin-left: 207px;
	background: rgba(255, 255, 255, 0.06);
    width: calc(100% - 220px);
    max-width: 1200px;
	position: absolute;
	height: 88%;
	overflow-y: scroll;
}

.wrapper {
	background: black fixed;
	background-size: cover;
	min-height: 100%;
	width: 1200px;
	margin: 0 auto;
	position: relative;
}
#results .item {
	width: 50%;
	color: white;
}
.table_city {
	width: 100px;
}
.item .name {
	text-align: left;
	border: none;
	padding: 0 5px 0 5px;
	width: 300px;
}
.item .quality, .item .white_price_order, .item .black_price_order, .item .black_price_buyout, .item .profit_sell_buyout {
    text-align: left;
	border: none;
	padding: 0 5px 0 5px;
	width: 100px;
}
#profit_limit{
	padding-top: 15px;
}
#hours_limit{
	padding-top: 0px;
}
.item .profit_sell {
	text-align: center;
	border: none;
	padding: 0 5px 0 5px;
	width: 100px;
	color: white;
}
.header .name {
	text-align: left;
	border: none;
	padding: 0 5px 0 5px;
	width: 300px;
}
.header .quality, .header .white_price_order, .header .black_price_order, .header .black_price_buyout, .header .profit_sell_buyout {
    text-align: left;
	border: none;
	padding: 0 5px 0 5px;
	width: 100px;
}
.header .profit_sell {
	text-align: center;
	border: none;
	padding: 0 5px 0 5px;
	width: 100px;
}
.profit_sell.plus{
	background: #6aad6f;
}
.search select {
	width: 140px;
    height: 30px;
    margin-top: 3px;
    top: 1px;
    position: relative;
}

.item:hover {
	cursor: pointer;
}
.item.checked {
	background-color: #717171;
}
#tier {
	height: 200px;
    width: 40px;
    overflow: hidden;
	text-align: center;
}
#tier option{
	margin-top: 10px;
}

#chart {
	height: 160px;
    width:40px;
    overflow: hidden;
	text-align: center;
}
#chart option{
	margin-top: 10px;
}

.header {
	margin-bottom: 20px;
	background-color: #a08db5;
}
.wrapper, .search{
	background: #202020;
	padding-top: 0;
}
.header {
    background-color: #531405;
    color: #fff;
    height: 35px;
}
.search .form-control:focus{
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}
.tier .form-control{
	border-bottom: 5px solid #fff;
}
.search-butt{
	width:48%;
	display: inline-flex;
}
a{
	text-decoration: none;
	color: white;
}
.search-butt .form-control{
	background: #fff;
    color: #202020;
    border-radius: 0;
    padding-left: 10px;
	transition: all .5s;
	border: 1px solid #fff;
}
.search-butt .form-control:hover{
	background: #202020;
    color: #fff;
	border:1px solid #fff;
}
#tier, #chart{
	border:0;
}
.search .tier, .search .chart{
	width:100%;
}
.api-page {
	overflow: scroll;
	height: 550px;
	overflow-x: hidden;
}
#github-link{
	color: #6dc0c8;
	text-decoration: underline;
}
#api_black{
	color:#add8e6;
}
li {
	list-style-type: none;
	color: white;
}
.search .form-control{
	border: 0;
	border-radius: 1px;
    border-bottom: 1px solid #929292;
	padding: 0 0 3px;
	color: #ffffff;
	background-color: #202020;
	max-width: 195px;
	outline: none;

}
.btn-one{
	margin-right:0;
	outline: none;
	padding: 5px 10px;
	border: 1px solid #929292;
	background: none;
    color: #fff;
	width: 95px;
	cursor:pointer;
	border-radius:0;
	margin-top: 10px;
}
.btn-one:hover{
	background:#fff;
	color:#202020;
	border: 1px solid #fff;
}
.no-results{
	color: white;
	font-size: large;
	padding-left: 50px;
}
.btn-infosite{
	outline: none;
	margin-bottom: 10px;
    border: 1px solid #929292;
    background: none;
	border-radius: 10px;
    color: #fff;
    width: 95px;
	height: 50px;
    cursor: pointer;
}
.btn-infosite:hover{
	border:1px solid #fff;
}
.btn-api{
	outline: none;
	margin-bottom: 10px;
    border: 1px solid #929292;
    background: none;
	border-radius: 10px;
    color: #fff;
    width: 135px;
	height: 50px;
    cursor: pointer;
}
.btn-api:hover{
	border:1px solid #fff;
}
.btn-changelog{
	outline: none;
	margin-bottom: 10px;
    border: 1px solid #929292;
    background: none;
	border-radius: 10px;
    color: #fff;
    width: 135px;
	height: 50px;
    cursor: pointer;
}
.btn-changelog:hover{
	border:1px solid #fff;
}
p{
	color: white;
}
.btn-main{
	outline: none;
	margin-bottom: 10px;
    border: 1px solid #929292;
    background: none;
	border-radius: 10px;
    color: #fff;
    width: 135px;
	height: 50px;
    cursor: pointer;
}
.btn-main:hover{
	border:1px solid #fff;
}

#results::-webkit-scrollbar{
	width: 20px;
	height: 20px;
}
#results::-webkit-scrollbar-thumb:vertical {
height: 50px;
background-color: #ccc;
border: 1px solid #474747;
-webkit-border-radius: 6px;
}
#results::-webkit-scrollbar-thumb:horizontal{
width: 0;
}
.header {
    background-color: rgba(69, 69, 69, 0.3);
    color: #fff;
    height: 56px;
    border-bottom: 1px solid #454545;
	border-top: 1px solid #454545;
}
.profit_sell.plus {
	background: rgba(244, 67, 54, 0.8)
}
tr .item:focus{
    background-color: rgba(41, 103, 182, 0.89);
    color: #FFF;
}
.table_city {
    padding-left: 17px;
}
.item .quality, .item .white_price_order, .item .black_price_order, .item .black_price_buyout, .item .profit_sell_buyout{
	text-align:center;
	color: white;

}
#results .item{
	border-bottom: 1px solid #454545;
}
.item .name{
	padding: 5px 3px;
	color: white;
}
.info-page{
	color: white;
	overflow: auto;
	height: 550px;
	overflow-x: hidden;
}
.changelog-page{
	color: white;
	overflow: scroll;
	height: 550px;
	overflow-x: hidden;
}
#powered-by{
	color: #6dc0c8;
	text-decoration: underline;
}
.black_date_order{
	padding-left: 5px;
    padding-right: 5px;
	color: white;
}
.quantity_sold{
	padding-left: 5px;
    padding-right: 5px;
	color: white;
}
.header .quality, .header .white_price_order, .header .black_price_order, .header .black_price_buyout, .header .profit_sell_buyout, .header .name{
	border-right: 1px solid #454545;
	border-left: 1px solid #454545;
	color: white;
}
option {
	padding:3px;
}
.header td{
	font-size:14px;
	position:relative;
	cursor:pointer;
}
.header td:after{
	content:'?';
	font-size:10px;
	border: 1px solid #fff;
    border-radius: 50px;
    padding: 0 5px;
    margin-left: 5px;
}
.header td:before{
	content:'';
	width:202px;
	height:auto;
	min-height:55px;
	padding:10px;
	position:absolute;
	top: 55px;

    left: 0;
	border:1px solid #454545;
	display:none;
	background: #2b2b2b;
    z-index: 2;
	transition: all .5s;
	text-align: left;
	word-wrap: break-word;
}
.error_msg{
	color: red;
}
#auth_form, #reg_form {
    border: 1px solid #454545;
    padding: 35px;
    width: 380px;
    height: auto;
}
#auth_form {
    width: 390px;
    height: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#auth_form .input-group-text, #reg_form .input-group-text {
    border: 1px solid #454545;
    background: #454545;
    color: #fff;
    border-radius: 0;
}
#auth_form .input-group-text {
    width: 64px;
}
.verified{
	color: white;
}
.unverified{
	color: white;
}
.btn-profile{
	outline: none;
	margin-bottom: 10px;
    border: 1px solid #929292;
    background: none;
	border-radius: 10px;
    color: #fff;
    width: 135px;
	height: 50px;
    cursor: pointer;
	float: right;
}
.btn-profile:hover{
	border:1px solid #fff;
}
#profile{
	margin-left: 250px;
	padding-left: 15px;
}
#auth_form .row .form-control, #auth_form .row .btn.btn-info, #reg_form .row .btn.btn-info, #reg_form .row .form-control {
	width: 100%;
    padding: 15px 0;
	margin-top: 10px;
	margin-left: 67px;
}
.btn-info {
    color: #ffffff;
    background-color: #202020;
    border-color: #ffffff;
    border-radius: 0;
    margin-top: 0px;
    transition: all .5s;
    margin-right: 5px;
}
.btn-info:hover{
	color:#202020;
	background-color: white;
	border-color: black;
}

.info{
	display: flex;
}
.change_lang{
	display: flex;
	float: right;
	margin-left: 10px;
	margin-top: 10px;
}
.language_select {
	background-color: #202020;
	color: #ffffff;
	float: left;
	margin-top: 10px;
	margin-left: 15px;
}
.header .table_city:hover:before{
	content:'Город';
	display:block;
}
.header .name:hover:before{
	content:'Название вещи';
	display:block;
}
.header .quality:hover:before{
	content:'Качество вещи';
	display:block;
}
.header .name:hover:before{
	content:'Название вещи';
	display:block;
}
.header .white_price_order:hover:before{
	content:'Цена закупки предмета';
	display:block;
}
.header .black_price_order:hover:before{
	content:'Цена продажи предмета во втором городе';
	display:block;
}
.header .black_price_buyout:hover:before{
	content:'Текущая ставка второго города на предмет';
	display:block;
}
.header .profit_sell:hover:before{
	content:'Разница закупочной цены в городе и цены продажи во втором городе';
	display:block;
}
.header .profit_sell_buyout:hover:before{
	content:'Разница закупочной цены в городе и текущий ставки во втором городе';
	display:block;
}
.header .black_date_order:hover:before{
	content:'Актуальность цен и информации';
	display:block;
	left: -85px;
}
.header .quantity_sold:hover:before{
	content:'Количество проданных предметов на аукционе за 24ч';
	display:block;
	left: -140px;
}
::-webkit-scrollbar-button {
	width:5px;
	height:0;
}

::-webkit-scrollbar-track {
background-color:#ecedee
}

::-webkit-scrollbar-thumb {
-webkit-border-radius: 0;
border-radius: 0;
background-color:#6dc0c8;
}

::-webkit-scrollbar-thumb:hover{
background-color:#56999f;
}

::-webkit-resizer{
width:4px;
height:0;
}

::-webkit-scrollbar{
width: 4px;
}