{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="api-page">
        <p>Для разработчиков имеется API для получения в json формате вместо графического интерфейса.<br>
        В данный момент имеется только одна точка для получения выгодных сделок между двумя городами.</p>
        <p><strong>Выгодные сделки между двумя городами(JSON)</strong>:
            <br> <a id="api_black" href="/api/albion/prices/cities?format=json&locations=Thetford,Martlock&category_items=mellee_sword&tier=T4&chart=0&chart=%401&chart=%402&profit=&hours=">
                https://albionprofits.tk/api/albion/prices/cities?format=json&locations=Thetford,Martlock&category_items=mellee_sword&tier=T4&chart=0&chart=%401&chart=%402&profit=&hours=</a>
        <p>Параметры:</p>
        <li>locations: по очереди город закупа, город продажи</li>
        <li>category_items: категория предметов для поиска. Подробнее ниже.</li>
        <li>tiers: тир предметов.</li>
        <li>chart: зачарование для предметов.</li>
        <li>profit: Ожидаемая прибыль для одной продажи.</li>
        <li>hours: Актуальность информации.</li>
        <p>Категория предметов:</p>
        <li>mellee_sword: Мечи</li>
        <li>range: Оружие дальнего боя</li>
        <li>mellee_mace: Булавы</li>
        <li>mellee_staff: Шесты</li>
        <li>mellee_hammer: Молоты</li>
        <li>mellee_daggers: Кинжалы</li>
        <li>mellee_axe: Топоры</li>
        <li>staff: Посохи/Магия</li>
        <li>plate_shoes: Латные ботинки</li>
        <li>plate_head: Латные шлемы</li>
        <li>plate_armor: Латные доспехи</li>
        <li>leather_shoes: Кожанные ботинки</li>
        <li>leather_head: Кожанные капюшоны</li>
        <li>leather_armor: Кожанные доспехи</li>
        <li>cloth_shoes: Тканевые ботинки</li>
        <li>cloth_armor: Тканевые доспехи</li>
        <li>cloth_head: Тканевые колпаки</li>
        <li>capes: Плащи</li>
        <li>bags: Сумки</li>
        <li>luxury: Роскошь</li>
        <li>resources: Ресурсы</li>
        <p><img src="{% static 'items/img/github.png' %}"><br>
            Github:<a id="github-link" href="https://github.com/vzhukov642"><br>Vzhukov642</a></p>
    </div>
{% endblock content %}