<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}<title>Получение самых выгодных сделок Альбиона</title>{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Получение самых выгодных сделок между городами и Чёрным рынком Албиона.">
    <link rel = 'stylesheet' href="{% static 'items/css/styles.css' %}">
    <script src="{% static "items/js/jquery.min.js" %}"></script>
    <script src="{% static "items/js/script.js" %}"></script>
</head>
<body>
    <div class="wrapper">
        {% block info %}
            <div class="info">
                <input type="button" class="btn-info" id="info" value="Инфо">
                <input type="button" class="btn-api" id="api" value="Для разработчиков">
            </div>
        {% endblock %}
    {% block search %}
        <div class="search">
            <form action="/search" method="GET" id="search-form">
                <div class="input-group mb-3">
                    {{ form.city }}
                </div>
                <div class="input-group mb-3">
                    {{ form.category_items }}
                </div>
                <div class="input-group mb-3 tier">
                    {{ form.tiers }}
                    {{ form.chart }}
                </div>
                <div class="input-group mb-3 ">
                    {{ form.profit }}
                </div>
                <div class="input-group mb-3 ">
                    {{ form.hours }}
                </div>
                <div class="input-group mb-3 search-butt">
                    <button type="submit" class="btn-one" id="search">Поиск</button>
            </div>
            </form>
        </div>
    {% endblock search %}
    {% block content %}
        <div class="results">

        </div>
    {% endblock content %}
    </div>
</body>
</html>