<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}<title>Получение самых выгодных сделок Альбиона</title>{% endblock %}
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Получение самых выгодных сделок между городами и Чёрным рынком Албиона.">
    <link rel = 'stylesheet' href="{% static 'items/css/styles.css' %}">
    <script async src="{% static "items/js/jquery.min.js" %}"></script>
    <script data-ad-client="ca-pub-1462626157953370" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script async src="{% static "items/js/script.js" %}"></script>
</head>
<body>
    <div class="wrapper">
        {% block search %}
        {% endblock %}
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>