{% extends 'base.html' %}
{% load static %}
{% block search-result%}
{% endblock search-result%}
{% block content %}
    <div class="changelog-page">
        <div class="changes">
            <h1>Теперь здесь буду выкладывать изменения.</h1>
            <h2><strong>24.02.2021</strong></h2>
            <li>Исправлены "перевернутые" предложения о товарах.</li>
            <li>Чёрный рынок теперь находится во второй вкладке.</li>
            <li>Исправлено отображение дерева в ресурсах.</li>
            <h2><strong>22.02.2021</strong></h2>
            <li>Исправлено неккоректное отображение картинок для предметов.</li>
            <li>Добавлено примерное количество покупок за последние 24часа в городе в котором собираетесь продавать. В том числе и на чёрный рынок.</li>
            <h2><strong>20.02.2021</strong></h2>
            <li>Добавлен частичный перевод на английский. Зависит от языка вашей ОС.</li>
            <li>Отредактирована инструкция для разработчиков.</li>
            <li>Немного рефакторинга.</li>
            <li>Исправлена ошибка неккоректного отображения предметов и их изображений в графическом интерфейсе и API.</li>
            <h2><strong>18.11.2020</strong></h2>
            <li>Добавлена страница changelog</li>
            <li>Добавлена обратная свзяь</li>
            <li>Добавлены новые пункты на страницу "Для разработчиков"</li>
            <li>Вкладка роскошь теперь функциональна, не просто шаблон</li>
            <li>Добавлена кнопка на переход к странице изменений</li>
        </div>
        <div class="feedback">
            <h3>Вы всегда можете оставить отзывы/предложения или баги в Discord <br>DominusMayonnaise#1984</h3>
        </div>
    </div>
{% endblock content %}