{% extends 'basehtml.html' %}
{% load static %}

{% block search %}
<div class="search">
    <form action="/search" method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
            <select id="city" class="form-control" name="city">
            {%  for k, v in cities.items %}
                <option value="{{ k }}">{{ v }}</option>
            {%  endfor %}
            </select>
        </div>
        <div class="input-group mb-3">
            <select id="items" class="form-control" name="item">
                {% for k, v in items.items %}
                <option value="{{ k }}">{{ v }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="input-group mb-3 tier">
            <select id="tier" class="form-control" multiple="multiple" name="tier">
                {% for tier in tiers %}
                    <option value="{{ tier }}" selected="selected">{{ tier }}</option>
                {% endfor %}
            </select>
            <select id="chart" class="form-control" multiple="multiple" name="chart">
                    <option value="0" selected="selected">0</option>
                    <option value="@1" selected="selected">1</option>
                    <option value="@2" selected="selected">2</option>
                    <option value="@3" selected="selected">3</option>
            </select>
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="profit_limit" placeholder="Прибыль от" name='profit'>
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="hours_limit" placeholder="Актуальность до" name='hours'>
        </div>
        <div class="input-group mb-3 search-butt">
            <input type="submit" class="btn-one" id="search" value="Поиск">
    </div>
    </form>
</div>
{% endblock %}
{% block content %}
    {% if error %}
    <div class="results" style="padding-left: 230px; height: 600px; overflow: auto;">
        <h1 style="color: white"> Нет результатов</h1>
    </div>
    {% else %}
        <div class="results">
            <table id="table">
                <tr class="header">
                    <td class="table_city">{{ town }}</td>
                    <td class="name">Название</td>
                    <td class="quality">Качество</td>
                    <td class="white_price_order">Закуп</td>
                    <td class="black_price_order">Продажа(ордер)</td>
                    <td class="black_price_buyout">Продажа(БП)</td>
                    <td class="profit_sell">Прибыль (ордер)</td>
                    <td class="profit_sell_buyout">Прибыль (БП)</td>
                    <td class="black_date_order">Актуальность информации</td>
                </tr>
                {% for v in list_item_view %}
                    <tr class="item" data-item-id="">
                        <td class="table_city">
                            <img src="{% static v.img_url %}" alt="">
                        </td>
                        <td class="name" data-chart="">{{ v.item_name }}</td>
                        <td class="quality">{{ v.quality }}</td>
                        <td class="white_price_order"><b>{{ v.price_auction }}</b></td>
                        <td class="black_price_order"><b>{{  v.price_black_order }}</b></td>
                        <td class="black_price_buyout"><b>{{ v.price_black_fast }}</b></td>
                        <td class="profit_sell plus"><b>{{ v.profit_black_order }}</b></td>
                        <td class="profit_sell_buyout"><b>{{ v.profit_black_fast }}</b></td>
                        <td class="black_date_order">{{ v.act_time }}</td>
                    </tr>
                {% endfor %}
                </table>
            </div>
    {% endif %}
{% endblock %}