{% extends 'base.html' %}
{% block search-result%}
{% endblock search-result%}
{% block content %}
    <div class="info-page">
    <h1>Данный сайт предоставляет самые выгодные сделки Альбиона между двумя городами включая чёрный рынок.</h1>

        <strong>Функционал сайта постоянно дорабатывается и улучшается.</strong>

        <p>В данный момент имеется:</p>
        <li>Поиск по городам.</li>
        <li>Поиск по определённым предметам.</li>
        <li>Фильтр по ожидаемой прибыли.</li>
        <li>Фильтр по актуальности информации.</li>
        <p>При запросе на API с параметрами возвращаются данные формата Json.
            <br>В данный момент имеется один метод. Сделки между двумя городами.</p>
        <p>Подробнее об API на странице для разработчиков.</p>

        <p>Powered by <a id="powered-by" href="https://www.albion-online-data.com/">Albion online data project</a>
    </div>
{% endblock content %}