{% load static %}
{% load i18n %}

{% block search-result %}
        <table id="table">
            <tr class="header">
                <td class="table_city">{{ town }}</td>
                <td class="name">{% trans 'Название' %}</td>
                <td class="quality">{% trans 'Качество' %}</td>
                <td class="white_price_order">{% trans 'Закуп' %}</td>
                <td class="black_price_order">{% trans 'Продажа(заказ)' %}</td>
                <td class="black_price_buyout">{% trans 'Продажа(БП)' %}</td>
                <td class="profit_sell">{% trans 'Прибыль (заказ)' %}</td>
                <td class="profit_sell_buyout">{% trans 'Прибыль (БП)' %}</td>
                <td class="black_date_order">{% trans 'Актуальность информации' %}</td>
                <td class="quantity_sold">Количество продаж 24ч</td>
            </tr>
            {% if not error %}
                {% for v in list_item_view %}
                    <tr class="item">
                        <td class="table_city">
                            <img src="{% static v.img_url %}" alt="">
                        </td>
                        <td class="name">{{ v.item_name }}</td>
                        <td class="quality">{{ v.quality }}</td>
                        <td class="white_price_order"><b>{{ v.price_auction }}</b></td>
                        <td class="black_price_order"><b>{{  v.price_black_order }}</b></td>
                        <td class="black_price_buyout"><b>{{ v.price_black_fast }}</b></td>
                        <td class="profit_sell plus"><b>{{ v.profit_black_order }}</b></td>
                        <td class="profit_sell_buyout"><b>{{ v.profit_black_fast }}</b></td>
                        <td class="black_date_order">{{ v.act_time }}</td>
                        <td class="quantity_sold"><b>{{ v.quantity_sold }}</b></td>
                    </tr>
                {% endfor %}
            {% else %}
                <td class="no-results">{% trans 'Нет результатов' %}</td>
            {% endif %}
        </table>
{% endblock search-result %}