body {
	overflow: hidden;
	background: #202020;
}
.red {
	color: red;
}
.bold {
	font-weight: bold;
}
.search {
	padding: 15px;
    /* background: #bbb1b5; */
    background: black;
	/* margin-bottom: 20px; */
	float: left;
	position: fixed;
	/* margin-right: 20px; */
	height: 100%;
}
.search .form-control:hover {
	cursor: pointer;
}
.search .form-control:disabled {
	background: white;
	color: #340a0b;
}
.search .form-control {
	color: black;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
	max-width: 207px;
}
.search .tier, .search .chart {
	width: 130px;
    height: 175px;
}
#results {
	background: rgba(255, 255, 255, 0.06);
	width: 980px;
    height: 88%;
    float: left;
    padding-left: 500px;
    overflow-y: scroll;
	max-width: 800px;
}

.wrapper {
	background: black fixed;
	background-size: cover;
	min-height: 100%;
    margin: 0;
	width: 1200px;
}
#results .item {
	width: 50%;
	color: white;
}
.table_city {
	width: 100px;
}
.item .name {
	text-align: left;
	border: none;
	padding: 0 5px 0 5px;
	width: 300px;
}
.item .quality, .item .white_price_order, .item .black_price_order, .item .black_price_buyout, .item .profit_sell_buyout {
	/* border: 1px solid grey; */
    text-align: left;
	border: none;
	padding: 0 5px 0 5px;
	width: 100px;
}
.item .profit_sell {
	text-align: center;
	border: none;
	padding: 0px 5px 0px 5px;
	width: 100px;
	color: white;
}
.header .name {
	text-align: left;
	border: none;
	padding: 0px 5px 0px 5px;
	width: 300px;
}
.header .quality, .header .white_price_order, .header .black_price_order, .header .black_price_buyout, .header .profit_sell_buyout {
	/* border: 1px solid grey; */
    text-align: left;
	border: none;
	padding: 0px 5px 0px 5px;
	width: 100px;
}
.header .profit_sell {
	text-align: center;
	border: none;
	padding: 0px 5px 0px 5px;
	width: 100px;
}
.profit_sell.plus{
	background: #6aad6f;
}
.search select {
	width: 140px;
    height: 30px;
    margin-top: 3px;
    top: 1px;
    position: relative;
}

.item:hover {
	cursor: pointer;
}
.item.checked {
	background-color: #717171;
}
#tier {
	height: 160px;
    top: 6px;
    width: 40px;
    overflow: hidden;
	text-align: center;
}
#tier option{
	margin-top: 10px;
}

#chart {
	height: 160px;
    top: 6px;
    width:40px;
    overflow: hidden;
	text-align: center;
}
#chart option{
	margin-top: 10px;
}

.header {
	margin-bottom: 20px;
	background-color: #a08db5;
}

#results::-webkit-scrollbar {
  	width: 12px;
  	background-color: #F5F5F5;
}
#results::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  	border-radius: 10px;
  	background-color: #F5F5F5;
}
#results::-webkit-scrollbar-thumb {
  background-color:rgba(255, 255, 255, 0.5);
}
.first {
	border: 3px solid #62cf7e;
}
.second {
	border: 3px solid #4ca9b0;
}
.third {
	border: 3px solid #9662cf;
}
.first h3 {
	background: #62cf7e;
}
.second h3 {
	background: #4ca9b0;
}
.third h3 {
	background: #9662cf;
}
h3 {
	text-align: center;
    width: 100%;
    margin: 0px;
    padding: 13px;
    color: white;
    margin-bottom: 20px;
}
h4 {
	height: 42px;
	font-weight: bold;
    font-size: 35px;
	padding: 0px 20px;
}
.desc {
	font-size: 20px;
    font-weight: bold;
}
.wrapper, .search{
	background: #202020;
	padding-top: 0;
}
.header {
    background-color: #531405;
    color: #fff;
    height: 35px;
}
.btn-info{
	color: #ffffff;
    background-color: #202020;
    border-color: #ffffff;
    border-radius: 0;
    margin-top: 0px;
	transition: all .5s;
	margin-right:5px;
}
.btn-info:hover {
    color: #202020;
    background-color: #ffffff;
    border-color: #ffffff;
}
.search .form-control {
    color: #ffffff;
    background-color: #202020;
	max-width: 195px;
	border: 0.5px solid #7d7d7d;
	padding-left: 10px;
    outline: none;
	border-radius: 0;
}
.search .form-control:focus{
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}
.tier .form-control{
	border-bottom: 5px solid #fff;
}
.profit_sell.plus {
    /*background: #ec552c;*/
}
.search-butt{
	width:48%;
	display: inline-flex;
}
.search-butt .form-control{
	background: #fff;
    color: #202020;
    border-radius: 0;
    padding-left: 10px;
	transition: all .5s;
	border: 1px solid #fff;
}
.search-butt .form-control:hover{
	background: #202020;
    color: #fff;
	border:1px solid #fff;
}
.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show>.btn-info.dropdown-toggle {
    color: #202020;
    background-color: #ffffff;
    border-color: #ffffff;
}
.item.checked {
    /*background-color: #ec552c;*/
}
#tier, #chart{
	border:0px;
}
.search .tier, .search .chart{
	width:100%;
}

.search{
	padding-top:15px;
	border: 1px solid #454545;
    border-top: 0px;
    height: 88%;
}
.search .form-control{
	border: 0;
	border-radius: 1px;
    border-bottom: 1px solid #929292;
	padding: 0px 0px 10px;
}
.btn-one{
	margin-right:0;
	outline: none;
	padding: 5px 10px;
	border: 1px solid #929292;
	background: none;
    color: #fff;
	width: 95px;
	cursor:pointer;
	border-radius:0;
	margin-top: 10px;
}
.btn-one:hover{
	background:#fff;
	color:#202020;
	border: 1px solid #fff;
}
.search-butt .btn-two{
	margin-left:20px;
}
#results{
		background: rgba(255, 255, 255, 0);
		width: 81%;
	height: 600px;
	float:left;
	border-right: 1px solid #454545;
    border-bottom: 1px solid #454545;
	margin-left: 220px;
	padding-left: 230px;
    overflow: scroll;
}
#tier, #chart {
    padding: 0 5px;
}
.header {
    background-color: rgba(69, 69, 69, 0.3);
    color: #fff;
    height: 56px;
    border-bottom: 1px solid #454545;
	border-top: 1px solid #454545;
    /* padding-left: 10px; */
}
.profit_sell.plus {
    /* background: #F44336; */
	background: rgba(244, 67, 54, 0.8)
}
tr .item:focus{
    background-color: rgba(41, 103, 182, 0.89);
    color: #FFF;
}
.table_city {
    padding-left: 10px;
}
.item .quality, .item .white_price_order, .item .black_price_order, .item .black_price_buyout, .item .profit_sell_buyout{
	/*border-right: 1px solid #454545;*/
	text-align:center;
	color: white;

}
#results .item{
	border-bottom: 1px solid #454545;
}
tr:c {

}
.item .name{
	padding: 5px 3px;
	color: white;
}
.black_date_order{
	padding-left: 5px;
    padding-right: 5px;
	color: white;
}
.header .quality, .header .white_price_order, .header .black_price_order, .header .black_price_buyout, .header .profit_sell_buyout, .header .name{
	border-right: 1px solid #454545;
	border-left: 1px solid #454545;
	color: white;
}
.form-control{
	border: 1px solid #454545;
    border-radius: 0;
	margin-top: 10px;
}
#auth_form .row .form-control, #auth_form .row .btn.btn-info, #reg_form .row .btn.btn-info, #reg_form .row .form-control{
    width: 50%;
    margin: 0;
    display: inline-block;
	padding: 15px 0;
}
option {
	padding:3px;
}
.form-control:focus{
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}
.header td{
	font-size:14px;
	position:relative;
	cursor:pointer;
}
.header td:after{
	content:'?';
	/*position:absolute;
	right:0;
	top:4px;*/
	font-size:10px;
	border: 1px solid #fff;
    border-radius: 50px;
    padding: 0px 5px;
    margin-left: 5px;
}
.header td:before{
	content:'';
	width:202px;
	height:auto;
	min-height:55px;
	padding:10px;
	position:absolute;
	top: 55px;
    left: 0px;
	border:1px solid #454545;
	display:none;
	background: #2b2b2b;
    z-index: 2;
	transition: all .5s;
	text-align: left;
	word-wrap: break-word;
}
.header .table_city:hover:before{
	content:'Это город';
	display:block;
}
.header .name:hover:before{
	content:'Это название вещи';
	display:block;
}
.header .quality:hover:before{
	content:'Это качество вещи';
	display:block;
}
.header .name:hover:before{
	content:'Это название вещи';
	display:block;
}
.header .white_price_order:hover:before{
	content:'Цена закупки предмета';
	display:block;
}
.header .black_price_order:hover:before{
	content:'Цена продажи предмета на черном рынке';
	display:block;
}
.header .black_price_buyout:hover:before{
	content:'Текущая ставка черного рынка на предмет';
	display:block;
}
.header .profit_sell:hover:before{
	content:'Разница закупочной цены в городе и цены продажи на черном рынке';
	display:block;
}
.header .profit_sell_buyout:hover:before{
	content:'Разница закупочной цены в городе и текущий ставки на черном рынке';
	display:block;
}
.header .black_date_order:hover:before{
	content:'Актуальность цен и информации';
	display:block;
	left: -85px;
}